APP_NAME = "PC Store"
MONGO_URI = "mongodb://localhost:27017"
DB_NAME = "ddstore"
REDIS_ADDR = "localhost:6379"
BROKER_URI = "amqp://guest:guest@localhost:5672/"
PRODUCT_CREATED_QUEUE = "ProductCreated"
PRODUCT_EDITED_QUEUE = "ProductEdited"
WORKER_PER_QUEUE = 20
